[submodule "Dependencies/VoodooTrackpoint"]
	path = Dependencies/VoodooTrackpoint
	url = https://github.com/1Revenger1/VoodooTrackpoint.git
[submodule "Dependencies/VoodooSMBus"]
	path = Dependencies/VoodooSMBus
	url = https://github.com/VoodooSMBus/VoodooSMBus.git
[submodule "Dependencies/VoodooI2C"]
	path = Dependencies/VoodooI2C
	url = https://github.com/VoodooI2C/VoodooI2C.git
