<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>SMBusFixer</key>
		<dict>
			<key>IOPCIClassMatch</key>
			<string>0x0C050000</string>
			<key>IOProbeScore</key>
			<integer>400</integer>
			<key>IOMatchCategory</key>
			<string>SMBusFixer</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOClass</key>
			<string>SMBusFixer</string>
			<key>CFBundleIdentifier</key>
			<string>com.1Revenger1.RMISMBus</string>
		</dict>
		<key>RMISMBus</key>
		<dict>
			<key>IONameMatch</key>
			<array>
				<string>synaptics</string>
				<string>TPD0</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSMBusDevice</string>
			<key>IOClass</key>
			<string>RMISMBus</string>
			<key>CFBundleIdentifier</key>
			<string>com.1Revenger1.RMISMBus</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 1Revenger1. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleSMBusController</key>
		<string>1.0</string>
		<key>com.1Revenger1.VoodooRMI</key>
		<string>1.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>15</string>
		<key>com.apple.kpi.libkern</key>
		<string>15</string>
		<key>com.apple.kpi.mach</key>
		<string>15</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
