<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RMII2C</key>
		<dict>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>name</key>
					<string>SYNA2B31</string>
				</dict>
				<dict>
					<key>name</key>
					<string>SYNA2B33</string>
				</dict>
			</array>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>VoodooI2CDeviceNub</string>
			<key>IOClass</key>
			<string>RMII2C</string>
			<key>Legacy</key>
			<false/>
			<key>CFBundleIdentifier</key>
			<string>com.1Revenger1.RMII2C</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 1Revenger1. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.alexandred.VoodooI2C</key>
		<string>2.0</string>
		<key>com.1Revenger1.VoodooRMI</key>
		<string>0.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>18.5</string>
		<key>com.apple.kpi.libkern</key>
		<string>18.5</string>
		<key>com.apple.kpi.mach</key>
		<string>18.5</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
	</dict>
</dict>
</plist>
